{% extends "layout.html" %}
{% load static %}
{% block content %}
<div>
  <div class="center background">
    <h1>Jack Frost Garden Center</h1>
    <h3>At our garden center you'll find a beautiful selection of perennials, annuals, shrubs, and trees, as well as some indoor plants. We also carry garden decor, outdoor furniture, garden solutions, and much more!</h3>
</div>
  <div class="center background">
    <h1>Shop</h1>
    <h3>Browse bulk materials and other products for sale at the garden center.</h3>
</div>
  <div class="tiles">
    {% for product in products %}
  <div class="card">
  <img src="{{article.first_image.image.url}}">
  <h2>{{product.name}}</h2>
  <p>{{product.description}}</p>
  <p>{{product.price}}</p>
  <a href="">Learn More</a>
  </div>
  {% endfor %}
</div>
<div class="center">
  <div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a href="#" class="active">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
  </div>
</div>
<h1 class="background center">Bulk Material Calculator</h1>

{% endblock %}