{% extends "layout.html" %}
{% load static %}
{% block content %}
<div>
  <div class="center background">
    <h1>Blog</h1>
    <h2>A place to gather inspiration and learn! A gardener is always learning and growing.</h2>
</div>
  <div class="tiles">
  {% for article in articles %}
  <div class="card">
  <img src="{{article.first_image.image.url}}">
  <h2>{{article.title}}</h2>
  <p>{{article.preview}}...</p>
  <a href="{% url 'blog' %}">Read More</a>
  </div>
  {% endfor %}
</div>
</div>
<div class="center">
  <div class="pagination">
  <a href="#">&laquo;</a>
  <a href="#">1</a>
  <a href="#" class="active">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">6</a>
  <a href="#">&raquo;</a>
  </div>
</div>
{% endblock %}