html{
  margin: 1rem 5rem;
  font-family: 'Montserrat', sans-serif;
  color: #515151;
}
/* Header/Footer */
header{
  display: flex;
  justify-content: space-around;
}
footer {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
 }
 footer a{
   text-decoration: none;
 }
 footer a:hover{
 color: #BCDABB;
}
 /* Navigation */
.nav a{
  text-decoration: none;
}
.nav li{
  display: inline;
  padding-right: 1rem;
}
/* Text and Buttons */
a{
  color:#515151;
}
a:hover{
  color:#BCDABB;
}
button{
  background-color: #BCDABB;
  border:none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-weight: 700;
  color:#515151;
}
button:hover{
  background-color: #C7E9C7;
}
h1 {
    font-size: 1.8rem;
  }
h2 {
    font-size: 1.1rem;
  }
h3{
  font-size: 1rem;
  font-weight: 100;
}
p {
  font-size: .8rem;
}
.center{
  text-align: center;
}
.sideways-down{
  writing-mode: vertical-rl;
  text-align: center;
  text-transform: uppercase;
}
.sideways-up{
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
  text-transform: uppercase;
}
#socials{
  display:inline;
  margin:0;
}
#social-btns{
  display: inline;
}
#social-btns i{
margin-right: 1rem;
color: #515151;
}
#social-btns i:hover{
  margin-right: 1rem;
  color: #BCDABB;
  }
i{
  margin-top:1rem;
}
.fa-star{
  color:white;
}


input{
  margin-bottom: 1rem;
  width: 500px;
  padding: .5rem;
  
}
/* Divs */
div{
  margin-bottom: 1.5rem;
}
.top{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.top img{
  height: 500px;
  width: 500px;
  object-fit: cover;
  margin-right: 1rem;
}
.home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}
.home img{
  width: 30%;
  height: 50%;
  object-fit: cover;
  margin-right: 1rem;
}
.background{
  background-color: #BCDABB;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.reviews{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  background-color: #BCDABB;
  padding: 1rem;
}
.reviews div{
  margin: 1rem;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.contact{
  display: inline;
  text-align: center;
  /* flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; */
}
.tiles{
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#sales{
  display: flex;
  justify-content: center;
}
#sales img{
  width: 30%;
  object-fit: cover;
  margin-left: 1rem;
  margin-right: 1rem;
}
.card{
  display:inline;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  text-align: center;
  margin:.5rem;
}
.card img{
 height: 200px;
 width: 100%;
 object-fit: cover;
}

/* Media Queries */
@media (max-width: 991px) {

}
@media (max-width: 767px) {
  html{
  margin: .2rem;
  }
  .home {
    flex-direction: column;
    align-items: center;
  }
  .home img{
    width: 80%;
    margin: 1rem;
  }
  .background{
    background-color: white;
  }
  .reviews{
    background-color: white;
  }
  .fa-star{
    color: #BCDABB;
  }
  #sales {
    display: block;
    text-align: center;
  }
  #sales img{
    width: 40%;
  }
  .sideways-up{
    writing-mode: horizontal-tb;
    text-align: center;
    transform: none;
    text-transform: uppercase;
  }
  .sideways-down{
    display: none;
}
.tiles{
  flex-direction: column;
  align-items: center;
  }
.card{
  width: 90%;
}
.card a{
  margin-bottom: 2rem;
}
}
@media (max-width: 479px) {
  input{
    width: 300px;
  }
  #sales img{
    margin:1rem;
    width: 80%;
  }
  
}