{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="top">
<div>
  <h1>We are the go-to for all your outdoor needs.</h1>
  <hr>
  <h2>Whether you're in need of professional landscape and hardscape services, or you’re looking for plants and materials to do-it-yourself,
    Jack Frost is here for you!
  </h2>
  <a href=""><button>Shop</button></a>
  <button>Schedule an Estimate</button>
</div>
</div>
<div class="home">
  <img src="{% static 'images/test.jpg' %}">
  <img src="{% static 'images/test.jpg' %}">
  <img src="{% static 'images/test.jpg' %}">
</div>
  <h1 class="center">
    Reviews
  </h1>
  <div class="reviews">
  <div>
    <i class="fas fa-star fa-2x"></i>
    <p>Jack Frost did an awesome job!</p>
    <p>- Katie</p>
  </div>
  <div>
    <i class="fas fa-star fa-2x"></i>
    <p>Jack Frost did an awesome job!</p>
    <p>- Katie</p>
  </div>
  <div>
    <i class="fas fa-star fa-2x"></i>
    <p>Jack Frost did an awesome job!</p>
    <p>- Katie</p>
  </div>
</div>
<div id="sales">
  <h1 class="sideways-up">
    Sales
  </h1>
    {% for event in events %}
    <img src="{% static 'images/test.jpg' %}">
    <img src="{% static 'images/test.jpg' %}">
    {% endfor %}
  <h1 class="sideways-down">
    Sales
  </h1>

</div>  
<div>
  <h1 class="center background">Garden Inspo & Knowledge</h1>
  <div class="tiles">
  {% for article in articles %}
  <div class="card">
  <img src="{{article.first_image.image.url}}">
  <h2>{{article.title}}</h2>
  <p>{{article.preview}}...</p>
  <a href="">Read More</a>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
