{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://kit.fontawesome.com/78a62381c9.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet"> 
  <title>Jack Frost Landscapes & Garden Center</title>
</head>

<body>
  <!-- Header -->
<header>
  <!-- Logo -->
  <div class="logo">
    <a href="{% url 'index' %}"><img src="{% static 'images/logo.svg' %}"></a>
  </div>
  <!-- Navigation -->
  <ul class="nav">
   <a href="{% url 'shop' %}"><li>Shop</li></a>
   <a href="{% url 'service' %}"><li>Design</li></a>
   <a href="{% url 'blog' %}"><li>Blog</li></a>
   <a href="{% url 'contact' %}"><li>Contact</li></a>
  </ul>
</header>
  <!-- End Header -->
    {% block content %}
    {% endblock %}
  <!-- Footer -->
  <hr>
<footer>
  <div class="row">
    <div class="col">
      <h2>Contact</h2>
      <p>info@jackfrostgardens.com</p>
      <p>757-368-4477</p>
      <p>3168 Holland Rd.</p>
      <p>Virginia Beach, VA 23454</p>
    </div>
    <div class="col">
      <h2>Hours</h2>
      <p>Open 7 days a week!</p>
      <p>Mon-Sat: 7AM-5PM</p>
      <p>Sun: 10AM-4PM</p>
    </div>
    <div class="col">
      <h2>Links</h2>
      <a href=""><p>About</p></a>
      <a href=""><p>Careers</p></a>
      <a href=""><p>Material Calculator</p></a>
      <a href=""><p>Bulk Materials</p></a>
    </div>
  </div>
  <div class="row">
    <h2>Sign-up for our newsletter!</h2>
    <form>
      <input>
      <button>Subscribe</button>
    </form>
    <div id="socials"></div>
    <h2>Stay Connected</h2>
      <div id="social-btns">
        <a href=""><i class="fab fa-facebook fa-lg"></i></a>
        <a href=""><i class="fab fa-instagram fa-lg"></i></a>
        <a href=""><i class="fab fa-pinterest fa-lg"></i></a>
        <a href=""><i class="fab fa-yelp fa-lg"></i></a>
      </div>
    </div>
  </div>
</footer>
</body>

</html>
