{% extends "layout.html" %}
{% load static %}
{% block content %}
<div class="top background center">
<h1>About Us</h1>
</div>
<p class="center">
    We are the premier provider of landscape construction and maintenance. We provide services to commercial, multi-family, industrial, and municipal properties. Our team works to match the needs of your site through proactive attention and clear, consistent communication.
    </p>
    <h2>Our Mission</h2>
<ul>
<li>Provide competitively priced products and high-quality service</li>
<li>Inspire a connection between people and nature</li>
<li>Serve & support the community</li>
<li>Exceed customer expectations</li>
</ul>

<h2>Our History</h2>
<div class="history">
    <div>
        <p>In 1983, David Dubinsky arrived in Virginia Beach as an adventurous 23-year-old with $500 in his pocket. He started Jack Frost Firewood, Inc in 1985 and delivered cords of seasoned firewood to stores and homeowners in the area. The following spring, he started selling and delivering bulk landscaping materials such as topsoil, sand, mulch, and stone. As the company grew, Jack Frost became well known for supplying the best topsoil and seasoned firewood in the area.
        <br>
        <br>
            In the mid 1990’s, David acquired a landscaping company which could design and install landscaping. Also, the company ventured into hardscaping- creating beautiful patios, seating walls, fire pits, and retaining walls. By 2000, it grew into an award-winning company.
        <br>
        <br>
            2007 brought the purchase of a garden center in Virginia Beach which became Jack Frost Landscapes & Garden Center, a full-service garden center where we offer a variety of high-quality plants, trees, shrubs, and a wide selection of seasonal color. In addition, you’ll find a selection of hard goods, such as fertilizers, pest solutions, and garden decor as well as the hub for our bulk materials pickup and delivery options. Lastly, in 2012, the growth continued with a commercial lawn and maintenance division.
        <br>
        <br>
            Over the years Jack Frost Landscapes expanded its knowledge of the Green Industry and built a team of experienced landscape professionals. </p>
        </p>
    </div>
    <div>
        <img src="{% static 'images/test.jpg' %}">
    </div>
</div>
<p class="center">
    If you have any questions, please do not hesitate to contact us at info@jackfrostgardens.com or feel free to stop in for a personal visit at our Virginia Beach garden center anytime during business hours! We look forward to working with you.
</p>
    {% endblock %}