{% extends "layout.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'partials/messages.html' %}
<h1 class="center background">Get In Touch</h1>
<div class="contact">
  <div>
      <h2>Send us a Message</h2>
      <form method="POST">
        {% csrf_token %}  
        {% for field in form %}      
            {{ field }}
            <br>
        {% endfor %}
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>
          </form>
          <p>We always aim for a landscape designer to reach back out to you within 3 business days. They will call you to schedule a time to come to your property and provide you with an estimate. Thank you for contacting Jack Frost!</p>
    </div>
      <!-- Map Column -->
      <div class="col-lg-8 mb-4">
        <!-- Embedded Google Map -->
        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
      </div>   
  </div> 
{% endblock %}



    