{% extends "layout.html" %}
{% load static %}
{% block content %}
<style>
	.mediaViewInfo {
		--web-view-name: Web 1920 – 5;
		--web-view-id: Web_1920___5;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Web_1920___5;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Web_1920___5 {
		position: absolute;
		width: 1920px;
		height: 1629px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Web 1920 – 5;
		--web-view-id: Web_1920___5;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	.Path_5 {
		overflow: visible;
		position: absolute;
		width: 1920px;
		height: 578px;
		left: 0px;
		top: 500px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_2 {
		overflow: visible;
		position: absolute;
		width: 239.38px;
		height: 265.563px;
		transform: matrix(1,0,0,1,538.9998,696.8608) rotate(42deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	.Path_4 {
		overflow: visible;
		position: absolute;
		width: 239.38px;
		height: 265.563px;
		transform: matrix(1,0,0,1,1079.9998,741.8608) rotate(42deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#ID37 {
		position: absolute;
		width: 1760px;
		height: 446px;
		left: 71px;
		top: 92px;
		overflow: visible;
	}
	#navbar {
		position: absolute;
		width: 1920px;
		height: 93px;
		left: 0px;
		top: -1px;
		overflow: visible;
	}
	.Rectangle_2 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 93px;
		left: 0px;
		top: 0px;
	}
	#Image_1 {
		position: absolute;
		width: 228px;
		height: 61px;
		left: 71px;
		top: 20px;
		overflow: visible;
	}
	#Group_1 {
		position: absolute;
		width: 585px;
		height: 19px;
		left: 1238px;
		top: 43px;
		overflow: visible;
	}
	#Garden_Center {
		position: absolute;
		left: 0px;
		top: 0px;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Services {
		position: absolute;
		left: 187px;
		top: 0px;
		overflow: visible;
		width: 63px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Blog {
		position: absolute;
		left: 315px;
		top: 0px;
		overflow: visible;
		width: 37px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#About {
		position: absolute;
		left: 413px;
		top: 0px;
		overflow: visible;
		width: 47px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#Contact {
		position: absolute;
		left: 525px;
		top: 0px;
		overflow: visible;
		width: 61px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#gardencenterfront1 {
		position: absolute;
		width: 403px;
		height: 403px;
		left: 233px;
		top: 605px;
		overflow: visible;
	}
	#ID2 {
		position: absolute;
		width: 403px;
		height: 403px;
		left: 1285px;
		top: 605px;
		overflow: visible;
	}
	#ID1 {
		position: absolute;
		width: 403px;
		height: 403px;
		left: 759px;
		top: 605px;
		overflow: visible;
	}
	#card_title {
		position: absolute;
		width: 479px;
		height: 92px;
		left: 721px;
		top: 618px;
		overflow: visible;
	}
	.Rectangle_8 {
		position: absolute;
		overflow: visible;
		width: 479px;
		height: 92px;
		left: 0px;
		top: 0px;
	}
	#Landscaping {
		position: absolute;
		left: 153px;
		top: 30px;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(74,83,55,1);
	}
	#card_title_ {
		position: absolute;
		width: 479px;
		height: 92px;
		left: 195px;
		top: 618px;
		overflow: visible;
	}
	.Rectangle_8_ {
		position: absolute;
		overflow: visible;
		width: 479px;
		height: 92px;
		left: 0px;
		top: 0px;
	}
	#Garden_Center_ {
		position: absolute;
		left: 143px;
		top: 30px;
		overflow: visible;
		width: 193px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(74,83,55,1);
	}
	#card_title_ba {
		position: absolute;
		width: 479px;
		height: 92px;
		left: 1246px;
		top: 618px;
		overflow: visible;
	}
	.Rectangle_8_ba {
		position: absolute;
		overflow: visible;
		width: 479px;
		height: 92px;
		left: 0px;
		top: 0px;
	}
	#Hardscaping {
		position: absolute;
		left: 154px;
		top: 30px;
		overflow: visible;
		width: 171px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(74,83,55,1);
	}
	#carousel_text {
		position: absolute;
		width: 1051px;
		height: 179px;
		left: 435px;
		top: 192px;
		overflow: visible;
	}
	.Rectangle_10 {
		position: absolute;
		overflow: visible;
		width: 1051px;
		height: 179px;
		left: 0px;
		top: 0px;
	}

	.Rectangle_6 {
		position: absolute;
		overflow: visible;
		width: 234px;
		height: 77px;
		left: 0px;
		top: 0px;
	}
	}
	#Heading_1 {
		position: absolute;
		left: 659px;
		top: 228px;
		overflow: visible;
		width: 604px;
		height: 67px;
		text-align: center;
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(74,83,55,1);
	}
	#Heading_2 {
		position: absolute;
		left: 659px;
		top: 295px;
		overflow: visible;
		width: 604px;
		height: 36px;
		text-align: center;
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(74,83,55,1);
	}
	.Path_1 {
		overflow: visible;
		position: absolute;
		width: 241.138px;
		height: 269.153px;
		left: 0px;
		top: 715.861px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 241.138px;
		height: 269.153px;
		left: 1683px;
		top: 590.861px;
		transform: matrix(1,0,0,1,0,0);
	}
	#house {
		position: absolute;
		width: 833px;
		height: 422px;
		left: 126px;
		top: 1103px;
		overflow: visible;
	}
	#Do_you_love_gardening___ {
		position: absolute;
		left: 1188px;
		top: 1189px;
		overflow: hidden;
		width: 438px;
		height: 125px;
		text-align: center;
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(74,83,55,1);
	}
	}
	.Rectangle_6_bm {
		position: absolute;
		overflow: visible;
		width: 234px;
		height: 77px;
		left: 0px;
		top: 0px;
	}
	#Subscribe {
		position: absolute;
		left: 69px;
		top: 28px;
		overflow: visible;
		width: 97px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.5px;
	}
	#Join_our_garden_club_to_receiv {
		position: absolute;
		left: 1054px;
		top: 1336px;
		overflow: visible;
		width: 741px;
		white-space: nowrap;
		text-align: center;
		font-family: Montserrat Alternates;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(74,83,55,1);
	}
	#footer {
		position: absolute;
		width: 1920px;
		height: 83px;
		left: 0px;
		top: 1558px;
		overflow: visible;
	}
	#Group_3 {
		position: absolute;
		width: 1920px;
		height: 83px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	.Rectangle_3 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 73px;
		left: 0px;
		top: 0px;
	}
	#_757_368_4477_info_jackfrostga {
		position: absolute;
		left: 1402px;
		top: 0px;
		overflow: visible;
		width: 359px;
		height: 83px;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	#ID3168_Holland_Rd_Virginia_Bea {
		position: absolute;
		left: 161px;
		top: 22px;
		overflow: visible;
		width: 359px;
		height: 51px;
		text-align: center;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		color: rgba(112,112,112,1);
	}
	
</style>

</head>
<body>

	<svg class="Path_5" viewBox="0 0 1920 578">
		<path fill="rgba(244,200,176,1)" id="Path_5" d="M 0 0 L 1920 0 L 1920 578 L 0 578 L 0 0 Z">
		</path>
	</svg>
	<svg class="Path_2" viewBox="8001 667.239 239.38 265.563">
		<path fill="transparent" stroke="rgba(74,83,55,1)" stroke-width="4px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_2" d="M 8001 932.8017578125 C 8235.15625 806.8677368164063 8140.00146484375 754.2703247070313 8140.00146484375 754.2703247070313 C 8140.00146484375 754.2703247070313 8094.5087890625 731.9536743164063 8240.3798828125 667.2387084960938">
		</path>
	</svg>
	<svg class="Path_4" viewBox="8001 667.239 239.38 265.563">
		<path fill="transparent" stroke="rgba(74,83,55,1)" stroke-width="4px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_4" d="M 8001 932.8017578125 C 8235.15625 806.8677368164063 8140.00146484375 754.2703247070313 8140.00146484375 754.2703247070313 C 8140.00146484375 754.2703247070313 8094.5087890625 731.9536743164063 8240.3798828125 667.2387084960938">
		</path>
	</svg>
	</div>
	<img id="gardencenterfront1" src="gardencenterfront1.png" srcset="gardencenterfront1.png 1x, gardencenterfront1@2x.png 2x">
	<img id="ID2" src="ID2.png" srcset="ID2.png 1x, ID2@2x.png 2x">
	<img id="ID1" src="ID1.png" srcset="ID1.png 1x, ID1@2x.png 2x">
	<div id="card_title">
		<svg class="Rectangle_8">
			<rect fill="rgba(240,233,215,1)" id="Rectangle_8" rx="0" ry="0" x="0" y="0" width="479" height="92">
			</rect>
		</svg>
		<div id="Landscaping">
			<span>Landscaping</span>
		</div>
	</div>
	<div id="card_title_" class="card_title">
		<svg class="Rectangle_8_">
			<rect fill="rgba(240,233,215,1)" id="Rectangle_8_" rx="0" ry="0" x="0" y="0" width="479" height="92">
			</rect>
		</svg>
		<div id="Garden_Center_">
			<span>Garden Center</span>
		</div>
	</div>
	<div id="card_title_ba">
		<svg class="Rectangle_8_ba">
			<rect fill="rgba(240,233,215,1)" id="Rectangle_8_ba" rx="0" ry="0" x="0" y="0" width="479" height="92">
			</rect>
		</svg>
		<div id="Hardscaping">
			<span>Hardscaping</span>
		</div>
	</div>
	<div id="carousel_text">
		<svg class="Rectangle_10">
			<rect fill="rgba(240,233,215,1)" stroke="rgba(112,112,112,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Rectangle_10" rx="0" ry="0" x="0" y="0" width="1051" height="179">
			</rect>
		</svg>
	</div>
	<div id="button" class="button">
		<svg class="Rectangle_6">
			<rect fill="rgba(224,126,85,1)" id="Rectangle_6" rx="0" ry="0" x="0" y="0" width="234" height="77">
			</rect>
		</svg>
		<div id="button_be">
			<span>button</span>
		</div>
	</div>
		<h1>Heading 1</h1>
	</div>
	<div id="Heading_2">
		<span>Heading 2</span>
	</div>
	<svg class="Path_1" viewBox="8001 667.239 239.38 265.563">
		<path fill="transparent" stroke="rgba(74,83,55,1)" stroke-width="4px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_1" d="M 8001 932.8017578125 C 8235.15625 806.8677368164063 8140.00146484375 754.2703247070313 8140.00146484375 754.2703247070313 C 8140.00146484375 754.2703247070313 8094.5087890625 731.9536743164063 8240.3798828125 667.2387084960938">
		</path>
	</svg>
	<svg class="Path_3" viewBox="8001 667.239 239.38 265.563">
		<path fill="transparent" stroke="rgba(74,83,55,1)" stroke-width="4px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="4" shape-rendering="auto" id="Path_3" d="M 8001 932.8017578125 C 8235.15625 806.8677368164063 8140.00146484375 754.2703247070313 8140.00146484375 754.2703247070313 C 8140.00146484375 754.2703247070313 8094.5087890625 731.9536743164063 8240.3798828125 667.2387084960938">
		</path>
	</svg>
	<img id="house" src="house.png" srcset="house.png 1x, house@2x.png 2x">
	<div id="Do_you_love_gardening___">
		<span>Do you love gardening?<br/></span><br>
	</div>
	<div id="button_bl" class="button">
		<svg class="Rectangle_6_bm">
			<rect fill="rgba(224,126,85,1)" id="Rectangle_6_bm" rx="0" ry="0" x="0" y="0" width="234" height="77">
			</rect>
		</svg>
		<div class="btn">
			<span>Subscribe</span>
		</div>
	</div>
	<div class="body">
		Join our garden club to receive deals, advice, and inspo.
	</div>
	
</div>
</body>
{% endblock %}