{% extends "layout.html" %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Services
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Services</li>
    </ol>

   {% for service in services %}
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="{{ service.images.url }}" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h2>{{ service.title }}</h2>
        <p>{{ service.body }}</p>
        <a class="btn btn-primary" href="{% url 'service-detail' pk=service.id %}">View Project
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

   {% endfor %}

  

  </div>
  <!-- /.container -->

{% endblock %}
