{% extends "layout.html" %}

{% block content %}
    <h1 class="background center">Design Services</h1>
   {% for service in services %}
      <img src="{{ service.images.url }}" alt="">
        <h2>{{ service.title }}</h2>
        <p>{{ service.body }}</p>
   {% endfor %}
   <p>
    Please fill out our contact form or give us a call to schedule a FREE estimate.
    <br>
    One of our expert landscape designers will schedule a one-on-one meeting to discuss your vision and needs, and with your help, decide which concepts are most suitable for your property.
    <br>
    After the meeting, we’ll provide you with professional landscape plans and presentations, such as photo-based designs, plan drawings, and/or 3D-walkthroughs.</p>
{% endblock %}
